h1 a , h3 {
color: orange;
font-family: 'Lobster';
}
p {
color: orange;
font-family: 'Lobster';
}
body {
background-color:black;
padding-left: 15px;
}

.content {
margin-left: 40px;
}
h3 {
color: orange;
font-family: 'Lobster';
